@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat";
}
.navbar {
  /* padding-inline:10px;
  padding-top: 5px;
  padding-bottom: 5px; */
  padding: 8px 5px;
}


.about-me{
  padding: 50px 20px;
}