@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat";
  padding: 55px 0;
}
* {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}
.navbar {
  /* padding-inline:10px;
  padding-top: 5px;
  padding-bottom: 5px; */
  padding: 8px 5px;
}

.about-me {
  padding: 50px 20px;
}
